body {
    background: linear-gradient(to bottom, #0d21d8, #8a3667);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background: #20044e;
    color: #0a0a0a;
    padding: 10px;
    display: block;
    justify-content: space-evenly;
    align-items: center;
    background-image: url('https://www.treehugger.com/thmb/gOTFHVe3iTBVOhunhqSj2_TK86k=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-922841020-e4bf98b5345042c0b04b3884a2ed91a4.jpg');
    font-size: large;
}

header>ul>li {
    display: inline-block;
    text-align: center;
}

h1 {
    margin-inline: 100px;
    text-align: center;
}

h2 {
    margin: 0;
    text-align: left;
}

button {
    background: #4CAF50;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

main {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto;
    padding: 15px;
    background-image: url('https://img.freepik.com/premium-photo/wide-field-with-yellow-rapeseed-flowers-green-grass-picturesque-sky-field-sunny-spring-day_199743-9767.jpg');
    background-size: cover;
}

.breed-box {
  background-color: rgba(255, 255, 255, 0.5);
  width: 300px;
  height: fit-content;
  border-style: solid;
  border-radius: 10px;
  padding: 20px;
}



.breed-box img {
    width: 290px; 
    height: 250px; 
    margin-bottom: 5px;
     display: grid; 
}

.breed-box h2 {
    font-size: 1.2em; 
    margin: 10px 0; 
}

.overlay {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    text-align: center;
    opacity: 100%;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s; 
}

.close:hover {
    color: red; 
}

